<div class="all">
<mat-grid-list cols="10">
  <mat-grid-tile [colspan]='6' [rowspan]='5'>

    <mat-card class="card-style mat-elevation-z8">
        <mat-card-content>
      <div class="renderElement">
          <mat-slider min="-1" max="1" step="0.01" [(ngModel)]="x" (input)="updateX($event)" color="primary" style="width:15%; position:absolute; margin-top:20px"></mat-slider>
          <mat-slider min="-1" max="1" step="0.01" [(ngModel)]="y" (input)="updateY($event)" color="primary" style="width:15%; position:absolute; margin-top:40px"></mat-slider>
          <mat-slider min="-1" max="1" step="0.01" [(ngModel)]="z" (input)="updateZ($event)" color="primary" style="width:15%; position:absolute; margin-top:60px"></mat-slider>
        </div>
    </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile [colspan]='4' [rowspan]='5'>
    <mat-card class="card-style mat-elevation-z8">
      <h3>PROSTOPADŁOCIAN</h3>
    <div>
      <mat-tab-group style="height: 80%">
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab-style">Kwadrat</div>
            </ng-template>
            <div class="teory-space2">
              Tekst
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab-style">Prostokąt</div>
            </ng-template>
            <div class="teory-space2">
                Tekst
              </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <div class="tab-style">Trójkąt</div>
            </ng-template>
            <div class="teory-space2">
                Tekst
              </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>

  </mat-grid-tile>

</mat-grid-list>
</div>
