<mat-grid-list cols="100">
  <mat-grid-tile [colspan]='100' [rowspan]='1'>
  </mat-grid-tile>
  <mat-grid-tile [colspan]='50' [rowspan]='49'>
    <div class="renderElement" style="background-color: black; padding-bottom: 20px"></div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]='48' [rowspan]='49'>
    <div class="card-with-inf">
      <mat-card>
        <h1>OSTROSŁUP</h1>
        <div class="info">
          <p>Możesz poruszać figurą przytrzymując lewy przycisk myszy i poruszając nią!</p>
        </div>
        <div>
          <mat-tab-group style="height: 80%" (selectedTabChange)="tabChanged($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Trójkąt</div>
              </ng-template>
              <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile [colspan]='1' [rowspan]='1'>
                  <div class="slide-box">W:
                    <mat-slider min="-0.7" max="0.7" step="0.001" [ngModel]="planeVector.w"
                      (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <div class="buttons">
                <mat-slide-toggle [(ngModel)]="planeVisibilityService.IsVisible">Pokaż płaszczyznę</mat-slide-toggle>
                <button mat-raised-button (click)="reset1()">
                  <mat-icon>refresh</mat-icon> Reset
                </button>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Kwadrat</div>
              </ng-template>
              <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile [colspan]='1' [rowspan]='1'>
                  <div class="slide-box">W:
                    <mat-slider min="-0.7" max="0.7" step="0.001" [ngModel]="planeVector.w"
                      (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <div class="buttons">
                <mat-slide-toggle [(ngModel)]="planeVisibilityService.IsVisible">Pokaż płaszczyznę</mat-slide-toggle>
                <button mat-raised-button (click)="reset2()">
                  <mat-icon>refresh</mat-icon> Reset
                </button>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Pięciokąt</div>
              </ng-template>
              <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile [colspan]='1' [rowspan]='1'>
                  <div class="slide-box">W:
                    <mat-slider min="-0.7" max="0.7" step="0.001" [ngModel]="planeVector.w"
                      (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <div class="buttons">
                <mat-slide-toggle [(ngModel)]="planeVisibilityService.IsVisible">Pokaż płaszczyznę</mat-slide-toggle>
                <button mat-raised-button (click)="reset3()">
                  <mat-icon>refresh</mat-icon> Reset
                </button>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Deltoid</div>
              </ng-template>
              <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile [colspan]='1' [rowspan]='1'>
                  <div class="slide-box">W:
                    <mat-slider min="-0.7" max="0.7" step="0.001" [ngModel]="planeVector.w"
                      (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                  </div>
                </mat-grid-tile>
              </mat-grid-list>
              <div class="buttons">
                <mat-slide-toggle [(ngModel)]="planeVisibilityService.IsVisible">Pokaż płaszczyznę</mat-slide-toggle>
                <button mat-raised-button (click)="reset4()">
                  <mat-icon>refresh</mat-icon> Reset
                </button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
