<div class="all">
  <mat-grid-list cols="20">
    <mat-grid-tile [colspan]='11' [rowspan]='10'>

      <div class="renderElement"></div>

    </mat-grid-tile>

    <mat-grid-tile [colspan]='9' [rowspan]='10'>
      <mat-card class="card-style mat-elevation-z8">
        <h3>OSTROSŁUP</h3>
        <div>
          <mat-tab-group style="height: 80%" (selectedTabChange)="tabChanged($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Trójkąt</div>
              </ng-template>
              <div class="teory-space2">
                <mat-slider min="-0.5" max="0.7" step="0.001" [ngModel]="planeVector.w" (input)="planeVector.setW($event.value)"
                  color="primary"></mat-slider>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Podstawa</div>
              </ng-template>
              <div class="teory-space2">
                <mat-slider min="-1" max="1" step="0.01" [ngModel]="planeVector.z" (input)="planeVector.setZ($event.value)"
                  color="primary"></mat-slider>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Trapez</div>
              </ng-template>
              <div class="teory-space2">
                  <mat-slider min="-0.5" max="0.7" step="0.001" [ngModel]="planeVector.w" (input)="planeVector.setW($event.value)"
                  color="primary"></mat-slider>
              </div>
            </mat-tab>

            <!-- <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Sześciokąt</div>
              </ng-template>
              <div class="teory-space2">
                  <mat-slider min="-1" max="0.99" step="0.01" [ngModel]="planeVector.x" (input)="planeVector.setX($event.value)"
                  color="primary"></mat-slider>
              </div>
            </mat-tab> -->

          </mat-tab-group>
        </div>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>
</div>
