<body>
  <div class="main-page">
    <div class="main-navigation main-head">
      <h1>TEORIA</h1>
    </div>
    <div style="padding-top: 10px">
      <div class="teory-space1">

        <mat-card class="card-style mat-elevation-z8">
          <h3>Przekroje Wielościanów</h3>
          <div class="teory-space2">
            <p>
              <b>Przekrojem wielościanu</b> płaszczyzną π nazywamy figurę, która jest częścią wspólną płaszczyzny π i
              tego wielościanu.<br><br>
              Przekrojem wielościanu może być <b>wielokąt</b>, punkt, odcinek, lub zbiór pusty.<br><br>
            </p>
            <div>
              <h3>Konstrukcje</h3>
            </div>
            <p>
              Omówię sposób wyznaczania przekrojów wielościanów w przypadku, gdy płaszczyzna przekroju określona jest
              przez podanie <b>trzech niewspółliniowych punktów</b>. Własnię tą metodę wykorzystałam przy tworzeniu
              wizualizacji przekrojów figur.<br><br>
              Aby przedstawić przekrój płaszczyzną π wielościanu, wystarczy skonstruować punkty przecięcia płaszczyzny
              π z krawędziami wielościanu i połączyć punkty leżące na tej samej ścianie. <br><br>
            </p>

            <div class="remamber-space-margin">
              <div class="remember-space">

                <ul style="font-family: 'Bookman Old'; ">
                  <h5>Pamiętaj!</h5>
                </ul>

                <mat-grid-list cols="100" rowHeight="250px">
                  <mat-grid-tile [colspan]='49' [rowspan]='1'>
                    <li>Aby wyznaczyć krawędź przecięcia się dwóch płaszczyzn (np. płaszczyzny przecinającej i
                      płaszczyzny zawierającej ścianę wielościanu), wystarczy wyznaczyć dwa punkty należące do obu tych
                      płaszczyzn. Prosta poprowadzona przez te punkty jest krawędzią przecięcia danych płaszczyzn.</li>
                  </mat-grid-tile>

                  <mat-grid-tile [colspan]='2' [rowspan]='1'></mat-grid-tile>

                  <mat-grid-tile [colspan]='49' [rowspan]='1'>
                    <li>Aby wyznaczyć punkt, w którym prosta <i>k </i>przebija płaszczyznę π, wystarczy wyznaczyć punkt
                      przecięcia prostej <i>k </i> i prostej <i>l</i>, która jest krawędzią przecięcia płaszczyzny π
                      zawierającej prostą <i>k </i>.</li>
                  </mat-grid-tile>


                </mat-grid-list>

              </div>
            </div>
          </div>
        </mat-card>


        <div>
          <mat-card class="card-style mat-elevation-z8">
            <div class="teory-space2">
              <div>
                <h3>Przykład</h3>
              </div>

              <mat-tab-group mat-stretch-tabs="center" style="height: 80%">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="tab-style">Treść</div>
                  </ng-template>
                  <div class="teory-space2">

                    <mat-grid-list cols="2" rowHeight="350px">
                      <mat-grid-tile [colspan]='1' [rowspan]='1'>
                        <p>
                          Na sześcianie ABCDA'B'C'D' zostały zazaczone punkty P i Q, które odpowiednio należą do
                          krawędzi C'D' i A'D'. Skonstruuj przekrój sześcianu płaszczyzną PQB.
                        </p>
                      </mat-grid-tile>

                      <mat-grid-tile [colspan]='1' [rowspan]='1'>
                        <img class="img-szescian" src="assets/images/szescian.png" />
                      </mat-grid-tile>
                    </mat-grid-list>

                  </div>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label >
                    <div class="tab-style">Gotowa konstrukcja</div>
                  </ng-template>
                  <div class="teory-space2">

                    <mat-tab-group mat-stretch-tabs="center" class="tab-example-style">
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <div class="tab-style">Pierwszy krok</div>
                        </ng-template>
                        <hr>
                        <img class="img-szescian-zrobiony" src="assets/images/szescian1.png">
                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <div class="tab-style">Drugi krok</div>
                        </ng-template>
                        <hr>
                        <img class="img-szescian-zrobiony" src="assets/images/szescian2.png">
                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <div class="tab-style">Trzeci krok</div>
                        </ng-template>
                        <hr>
                        <img class="img-szescian-zrobiony" src="assets/images/szescian3.png">
                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <div class="tab-style">Czwarty krok</div>
                        </ng-template>
                        <hr>
                        <img class="img-szescian-zrobiony" src="assets/images/szescian4.png">
                      </mat-tab>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <div class="tab-style">Piąty krok</div>
                        </ng-template>
                        <hr>
                        <img class="img-szescian-zrobiony" src="assets/images/szescian5.png">
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <div class="tab-style">Opis konstrukcji</div>
                  </ng-template>
                  <div class="teory-space2">
                    <li>
                      Prowadzimy proste DC i DA, które są przedłużeniami krawędzi sześcinu.
                    </li>
                    <li>
                      Zaznaczone punkty P i Q znajdują się na tej samej płaszczyźnie A'B'C'D', więc możemy poprowadzić przez nie prostą.
                    </li>
                    <li>
                      Przez punkt B prowadzimy prostą równoległa do odcinka PQ. W miejscach przecięcia się prostych zaznaczamy punkty X1 i X2.
                    </li>
                    <li>
                      Powstałe punkty leżą odpowiednio na płaszczyznach DCC'D' i ADD'A', więc prowadzimy 2 proste. Jedną przez punkty X1 i P, która przecina krawędź C'C w punkcie X3. Oraz drugą prostą łączącą punkt X2 z punktem Q, przecinającą krawędź A'A w puncie X4.
                    </li>
                    <li>
                      Pięciokąt QPX2BX4 jest szukanym przez nas przekrojem sześcianu.
                    </li>
                  </div>
                </mat-tab>

              </mat-tab-group>
            </div>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</body>
