.remamber-space-margin{
margin: 5%;
}

.remember-space{
  padding: 10px;
  font-size: 1.5em;
  color: black;
  text-align: left;
  font-family: "Helvetica Neue",sans-serif;
  box-sizing: border-box;
  border: 4px solid #000000;
  border-radius: 18px;
  background-color: lavender;
}

.tab-example-style{
  text-align: center;
}

.img-plaszczyzna{
  width: 250px;
  height: 210px;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  box-sizing: border-box;
}
.img-szescian{
  width: 353px;
  height: 344px;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  box-sizing: border-box;
}
.img-szescian-zrobiony{
  width: 1024px;
  height: 507px;
  box-align: center;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  box-sizing: border-box;
}
