<div class="all">
  <mat-grid-list cols="100">
    <mat-grid-tile [colspan]='100' [rowspan]='1'></mat-grid-tile>
    <mat-grid-tile [colspan]='50' [rowspan]='49'>

      <div class="renderElement">
        <mat-icon style="color: darkslategrey">3d_rotation</mat-icon>
      </div>

    </mat-grid-tile>

    <mat-grid-tile [colspan]='48' [rowspan]='49'>

      <mat-card class="card-style mat-elevation-z8">
        <h3>SZEŚCIAN</h3>
        <div>
          <mat-tab-group style="height: 80%" (selectedTabChange)="tabChanged($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Trapez</div>
              </ng-template>
              <div class="teory-space2">
                <div class="teory-space2">

                </div>

                <mat-grid-list cols="3" rowHeight="50px">
                  <mat-grid-tile [colspan]='1' [rowspan]='1'>
                    <div class="slide-box">W:
                      <mat-slider min="-0.7" max="0.7" step="0.001" [ngModel]="planeVector.w"
                        (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>

                <div class="button-style">
                  <button mat-raised-button (click)="reset1()">
                    <mat-icon>refresh</mat-icon> Reset
                  </button>
                </div>

              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Pięciokąt</div>
              </ng-template>
              <div class="teory-space2">
                <div class="teory-space2">

                </div>
                <mat-grid-list cols="3" rowHeight="50px">
                  <mat-grid-tile [colspan]='1' [rowspan]='1'>
                    <div class="slide-box">W:
                      <mat-slider min="-3" max="3" step="0.001" [ngModel]="planeVector.w"
                        (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]='1' [rowspan]='1'>
                    <div class="slide-box">X:
                      <mat-slider min="-1" max="0.99" step="0.01" [ngModel]="planeVector.x"
                        (input)="planeVector.setX($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
                <div class="button-style">
                  <button mat-raised-button (click)="reset2()">
                    <mat-icon>refresh</mat-icon> Reset
                  </button>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Trójkąt</div>
              </ng-template>
              <div class="teory-space2">

                <div class="teory-space2">

                </div>
                <mat-grid-list cols="40" rowHeight="50px">
                  <mat-grid-tile [colspan]='10' [rowspan]='1'>
                    <div class="slide-box">W:
                      <mat-slider min="-3" max="3" step="0.001" [ngModel]="planeVector.w"
                        (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]='10' [rowspan]='1'>
                    <div class="slide-box">X:
                      <mat-slider min="-1" max="0.99" step="0.01" [ngModel]="planeVector.x"
                        (input)="planeVector.setX($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]='10' [rowspan]='1'>
                    <div class="slide-box">Y:
                      <mat-slider min="-1" max="0.99" step="0.01" [ngModel]="planeVector.y"
                        (input)="planeVector.setY($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]='10' [rowspan]='1'>
                    <div class="slide-box">Z:
                      <mat-slider min="-1" max="0.99" step="0.01" [ngModel]="planeVector.z"
                        (input)="planeVector.setZ($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>

                <div class="button-style">
                  <button mat-raised-button (click)="reset3()">
                    <mat-icon>refresh</mat-icon> Reset
                  </button>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <div class="tab-style">Sześciokąt</div>
              </ng-template>
              <div class="teory-space2">
                <div class="teory-space2">

                </div>
                <mat-grid-list cols="3" rowHeight="50px">
                  <mat-grid-tile [colspan]='1' [rowspan]='1'>
                    <div class="slide-box">W:
                      <mat-slider min="-0.7" max="0.7" step="0.001" [ngModel]="planeVector.w"
                        (input)="planeVector.setW($event.value)" color="primary"></mat-slider>
                    </div>
                  </mat-grid-tile>
                </mat-grid-list>
                <div class="button-style">
                  <button mat-raised-button (click)="reset4()">
                    <mat-icon>refresh</mat-icon> Reset
                  </button>
                </div>
              </div>
            </mat-tab>

          </mat-tab-group>
        </div>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>
</div>
