  <body>
      <div class="main-navigation" class="main-page">
      <div class="main-navigation" style="background-image: url('tlo2.jpg'); background-repeat: no-repeat; background-size: cover;">
       <h1>SZEŚCIAN</h1>
       <div style="padding-bottom: 3em">
       <p>Ta strona zostałą stworzona na konkurs "Zobaczyć Matematyke" prowadzony przez AGH.</p>
       <p>Ma ona na celu zwizualizacje przekrojów figur geometrycznych.</p>
      </div>
     </div>
     <div style="padding-top: 10px">
     <div>
       <div class="teorySpace">
        <p>Tu będzie tekst.</p>
      </div>
        <div>
        <h2>WIZUALIZACJA</h2>
      </div>
        <div>
            <div class="renderElement" style="background-color: black; padding-bottom: 20px">
              <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon style="color:white">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>change_history</mat-icon>
                    <span>Trójkąt</span>
                  </button>
                  <button mat-menu-item (click)="testMethod()">
                    <mat-icon>check_box_outline_blank</mat-icon>
                    <span>Kwadrat</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>refresh</mat-icon>
                    <span>Powrót</span>
                    </button>
                </mat-menu>
                <mat-slider min="1" max="5" step="0.01" [(ngModel)]="value" (input)="updateBoxX($event)" color="primary" style="width:15%; position:absolute"></mat-slider>
              </div>
              </div>
         </div>
     </div>
    </div>
     </div>
   </body>

