mat-toolbar {
  background-color: #ECEFF1;

  a {
    margin-left: 0.5em;
    font-size: 0.7em;
    color :white;
    background-color: rgb(70, 73, 83);
    text-transform: uppercase;
  }

  a:hover {
    background-color: rgb(145, 170, 180);
  }
}
