<body>
  <div class="main-page">
    <div class="main-navigation main-head">
      <h1>Wykorzystane Techniki</h1>
    </div>
    <div style="padding-top: 10px">
      <div class="teory-space1">

          <mat-card class="card-style mat-elevation-z8">
              <h3>INTERPOLACJA LINIOWA</h3>
              <div class="teory-space2">
              <p>
                  Dragée tart jelly beans dragée cookie dragée jelly-o lemon drops jelly-o. I love lollipop candy. Sesame snaps chocolate bar gummies fruitcake jelly beans brownie biscuit oat cake bear claw. Pudding gummi bears chocolate bar wafer.

                  Ice cream jujubes fruitcake. Cake I love muffin gingerbread bear claw cookie. Cake wafer chocolate oat cake gummi bears ice cream apple pie. Lemon drops brownie I love marshmallow apple pie tiramisu ice cream.

                  Jelly I love I love sweet roll I love pie caramels liquorice pudding. Wafer tootsie roll tart sweet roll pastry gingerbread. Cake I love oat cake topping soufflé tiramisu cheesecake.

                  Sweet roll pudding macaroon cake cookie I love. Fruitcake sweet roll caramels. Lemon drops muffin donut oat cake danish. Chocolate bar lollipop apple pie topping carrot cake jelly-o.
              </p>
              </div>
            </mat-card>



        <!-- <mat-grid-list cols="4">
          <mat-grid-tile [colspan]='2' [rowspan]='1'>

            <mat-card class="card-style mat-elevation-z8">s
              <h3>O STRONIE</h3>
              <div class="teory-space2">
                &#09;Strona ta powstała w celu zwizualizowania przekrojów
                różnych figur geometrycznych, jak i na potrzebe
                konkursu organizowanego prze Akademię Górniczo-Hutniczą<br>
                im. Stanisława Staszica w Krakowie, pt. "Zobaczyć Matematykę".
              </div>
            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <mat-card class="card-style mat-elevation-z8">
              <h3>O AUTORZE</h3>
              <div class="teory-space2">
                &#09;Nazywam się Kinga Wrona i jestem uczennicą pierwszej
                klasy Liceum Ogólnokształcącego im. Juliusza Słowackiego
                w Kielcach. Uczęszczam do klasy o profilu matematyczno-fizyczno-informatycznym.
              </div>
            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <ul>
              <h4>Użyte Programy i Technologie:</h4>
              <li>HTML</li>
              <li>TypeScript</li>
              <li>Angular</li>
              <li>CSS</li>
              <li>Biblioteka Three.js</li>
              <li>Visual Studio Code</li>
            </ul>
          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <ul>
              <h4>Bibliografia:</h4>
              <li>
                <a  href="https://threejs.org/">https://threejs.org/</a>
              </li>
            </ul>
          </mat-grid-tile>

        </mat-grid-list> -->
      </div>
    </div>
  </div>
</body>
