<body>
  <div class="main-page">
    <div class="main-navigation main-head">
      <h1>O STRONIE</h1>
    </div>
    <div style="padding-top: 10px">
      <div class="teorySpace">
        <mat-grid-list cols="4">
          <mat-grid-tile [colspan]='2' [rowspan]='1'>

            <mat-card class="card-style mat-elevation-z8">
              <h3>O STRONIE</h3>
              <div class="teory-space2">
                &#09;Strona ta powstała w celu zwizualizowania przekrojów
                różnych figur geometrycznych, jak i na potrzebe
                konkursu organizowanego prze Akademię Górniczo-Hutniczą<br>
                im. Stanisława Staszica w Krakowie, pt. "Zobaczyć Matematykę".
              </div>
            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <mat-card class="card-style mat-elevation-z8">
              <h3>O AUTORZE</h3>
              <div class="teory-space2">
                &#09;Nazywam się Kinga Wrona i jestem uczennicą pierwszej
                klasy Liceum Ogólnokształcącego im. Juliusza Słowackiego
                w Kielcac. Uczęszczam do klasy o profilu matematyczno-fizyczno-informatycznym.
              </div>
            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <ul>
              <h4>Użyte Programy i Technologie:</h4>
              <li>HTML</li>
              <li>TypeScript</li>
              <li>Angular</li>
              <li>CSS</li>
              <li>Biblioteka Three.js</li>
              <li>Visual Studio Code</li>
            </ul>
          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <ul>
              <h4>Biografia:</h4>
              <li>
                <a  href="https://threejs.org/">https://threejs.org/</a>
              </li>
            </ul>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </div>
</body>
