/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin:0px;
  width: 100%;
  height: 100%;
  background-color:white;
}
p{
  font-size: 1em;
  font-family:'Book Antiqua';
  color: black;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em
}


h1{
  vertical-align: middle;
  line-height: 200px;
  height: 200px;
  width: 100%;
  margin-bottom: 0%;
  margin-top: 0%;
  color:black;
  font-family: 'Book Antiqua';
  font-size: 5em;
  text-align: center;
  text-decoration-line: underline
}

h2{
  color:black;
  font-family:'Book Antiqua';
  font-size: 2.5em;
  text-align: center;
  text-decoration-line: underline;
}

h3{
  color:black;
  font-family:'Book Antiqua';
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.76);
}

h4{
  color:black;
  font-family:'Book Antiqua';
  font-size: 2em;
  margin-bottom: 1em;
  text-align: left;
}

li{
  color:black;
  font-family:'Book Antiqua';
  font-size: 20px;
  text-align: left;
}

.main-head {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
  background-image: url("tlo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.teory-space1{
  background-color:#FAFAFA;
  height:auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
}

.teory-space2{
  background-color:#FAFAFA;
  height:auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #424242;
  font-family: initial;
  font-size: 1.3em;
  text-indent: 1cm
}

.main-page{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 80px;
  background-color: #FAFAFA
}

.main-navigation{
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
}

.card-style{
  background-color: #CFD8DC;
  margin: 2%;
}

.tab-style{
  color: #424242;
  padding-right: 0.2em;
}

.all{
  margin: auto;
}

router-outlet ~ * {
  position: absolute;
  height: auto;
  width: 100%;
}

