/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  margin:0px;
  width: 100%;
  height: 100%;
  background-color:white;
}
.p-startPage{
  font-size: 1em;
  font-family:'Book Antiqua';
  color: black;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.img-plaszczyzna{
  width: 250px;
  height: 210px;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  box-sizing: border-box;
  background-image:url("plaszczyzny.gif");
}
.img-szescian{
  width: 353px;
  height: 344px;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  box-sizing: border-box;
  background-image:url("szescian.png");
}
.img-szescian5-katZrobiony{
  width: 1063px;
  height: 442px;
  background-repeat: no-repeat;
  border: 2px solid #000000;
  background-image:url("szescian5-katZrobiony.png");
  box-sizing: border-box;
}

h1{
  vertical-align: middle;
  line-height: 200px;
  height: 200px;
  width: 100%;
  margin-bottom: 0%;
  margin-top: 0%;
  color:black;
  font-family: 'Book Antiqua';
  font-size: 5em;
  text-align: center;
  text-decoration-line: underline
}


h2{
  vertical-align: middle;
  color:black;
  font-family: 'Book Antiqua';
  font-size: 3em;
  text-align: center;
  text-decoration-line: underline
}


h3{
  color:black;
  font-family:'Book Antiqua';
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.76);
}

h4{
  color:black;
  font-family:'Book Antiqua';
  font-size: 2em;
  margin-bottom: 1em;
  text-align: left;
}
h5{
  margin: 0%;
  color:black;
  font-family: 'Bookman Old';
  font-size: 1.2em;
  text-align: left;
}


li{
  color:black;
  font-family:'Book Antiqua';
  font-size: 23px;
  text-align: left;
  padding-bottom: 10px;
  margin: auto;
}
ul{
  margin: 2%;
}

.main-head {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
  background-image: url("tlo2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.teory-space1{
  background-color:#FAFAFA;
  height:auto;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
}

.teory-space2{
  background-color:#FAFAFA;
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #424242;
  font-family: initial;
  font-size: 1.3em;
  text-align: left;
}

.remamber-space-margin{
margin: 5%;
}

.remember-space{
  background-color: #CFD8DC;
  padding: 10px;
  font-size: 1.5em;
  color: black;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 4px solid #000000;
}

.main-page{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 80px;
  background-color: #FAFAFA
}

.main-navigation{
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
}

.card-style{
  background-color: #CFD8DC;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  min-height: 280px;
}

.button-style{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}


.tab-style{
  color: #424242;
  padding-right: 0.2em;
}

mat-slider{
  position:absolute;
  margin-top:5px;
  padding-right: 0%;
}

.slide-box{
  height: auto;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.452);
  margin-bottom: 2%;
}

.all{
  margin: auto;
}

router-outlet ~ * {
  position: absolute;
  height: auto;
  width: 100%;
}

