body{
  background-image:url("tlo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 1em;
  font-family:'Book Antiqua';
  color: black;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em
}
