body{
  background-image:url("tlo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
li{
  font-size: 0.8em;
  margin-left: 2.5em;
  margin-top: 0.4em;
  font-family: "Book Antiqua"
}

