   <body>
   <div class="main-navigation" class="main-page">
   <div class="main-navigation" style="background-image: url('tlo2.jpg'); background-repeat: no-repeat; background-size: cover;">
    <h1>PRZEKROJE FIGUR</h1>
    <div style="padding-bottom: 3em">
    <p>Ta strona zostałą stworzona na konkurs "Zobaczyć Matematyke" prowadzony przez AGH.</p>
    <p>Ma ona na celu zwizualizacje przekrojów figur geometrycznych.</p>
   </div>
  </div>
  <div style="padding-top: 10px">
  <div class="teorySpace">
  <p>Tu będzie jaki tekst.</p>
  </div>
</div>
  </div>
</body>

