<body>
  <div class="main-page">
    <header>
      <h1>PRZEKROJE FIGUR</h1>
      <div>
        <p>Ta strona została stworzona w ramach konkursu "Zobaczyć Matematykę".<br>
          Ma ona na celu wizualizacje przekrojów figur geometrycznych.</p>
      </div>
    </header>
    <div class="informations">
      <mat-card>
        <h2>O STRONIE</h2>
        <div class="card-text">
          Strona ta powstała w celu zwizualizowania różnych przekrojów
          figur geometrycznych, jak i pomóc osobom mającym trudności z wyobrażeniem sobie obiektów 3D.
        </div>
      </mat-card>

      <mat-card>
        <h2>O AUTORZE</h2>
        <div class="card-text">
          Nazywam się Kinga Wrona i jestem uczennicą pierwszej
          klasy Liceum Ogólnokształcącego im. Juliusza Słowackiego
          w Kielcach.
        </div>
      </mat-card>
    </div>

    <div class="inf-tech">
      <ul>
        <h2>Użyte Technologie:</h2>
        <li>HTML</li>
        <li>TypeScript</li>
        <li>Angular</li>
        <li>CSS</li>
        <li>
          <a target="_blank" rel="noopener noreferrer" href="https://threejs.org/">Biblioteka Three.js</a>
        </li>
      </ul>

      <ul>
        <h2>Źródła:</h2>
        <li>Matematyka. Podręcznik do klasy 3. Poziom rozszerzony. Liceum i technikum. Krzysztof Pazdro</li>
      </ul>
    </div>

  </div>
</body>
