<body>
  <div class="main-page">
    <div class="main-navigation main-head">
      <h1>PRZEKROJE FIGUR</h1>
      <div style="padding-bottom: 3em">
        <p class="p-startPage">Ta strona zostałą stworzona na konkurs "Zobaczyć Matematyke" prowadzony przez AGH.</p>
        <p class="p-startPage">Ma ona na celu zwizualizacje przekrojów figur geometrycznych.</p>
      </div>
    </div>
    <div style="padding-top: 10px">
      <div class="teory-space1">
        <mat-grid-list cols="4" rowHeight="350px">
          <mat-grid-tile [colspan]='2' [rowspan]='1'>

            <mat-card class="card-style mat-elevation-z8">
              <h3>O STRONIE</h3>
              <div class="teory-space2">
                Strona ta powstała w celu przedstawienia <br>i zwizualizowania różnych interesujących przekrojów
                figur geometrycznych, jak i na potrzebe
                konkursu organizowanego przez Akademię Górniczo-Hutniczą
                im. Stanisława Staszica w Krakowie, pt. "Zobaczyć Matematykę".
              </div>
            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <mat-card class="card-style mat-elevation-z8">
              <h3>O AUTORZE</h3>
              <div class="teory-space2">
                Nazywam się Kinga Wrona i jestem uczennicą pierwszej
                klasy Liceum Ogólnokształcącego im. Juliusza Słowackiego
                w Kielcach. Uczęszczam do klasy o profilu matematyczno-fizyczno-informatycznym.
              </div>
            </mat-card>

          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <ul>
              <h4>Użyte Technologie:</h4>
              <li>HTML</li>
              <li>TypeScript</li>
              <li>Angular</li>
              <li>CSS</li>
              <li>
                <a target="_blank" rel="noopener noreferrer" href="https://threejs.org/">Biblioteka Three.js</a>
              </li>
            </ul>
          </mat-grid-tile>

          <mat-grid-tile [colspan]='2' [rowspan]='1'>
            <ul>
              <h4>Źródła:</h4>
              <li></li>
            </ul>
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </div>
</body>
